ng-app {
  height: 100%;
}
md-toolbar span {
  padding: 0px 16px;
}
md-sidenav-layout {
  height: calc(100% - 64px);
}
md-sidenav {
  width: 200px;
  color: black;
}
main {
  padding: 1em;
  text-align: center;
  margin-top: 50px;
  display: block;
  height: calc(100% - 82px);
}
