ng-app {
  height: 100%;
}
main {
  padding: 16px;
  text-align: center;
  display: block;
  height: calc(100% - 32px);
  background-color: #cdd2ec;
}
md-toolbar span {
  padding: 0px 16px;
}
md-sidenav-layout {
  height: calc(100% - 64px);
}
md-sidenav-layout md-sidenav {
  width: 200px;
  background-color: lime;
}
md-nav-list {
  background-color: #178417;
}
