md-sidenav-layout {
  height: 100%;
}
md-sidenav-layout {
  height: 100%;
}
md-sidenav-layout md-sidenav {
  width: 200px;
  background-color: lime;
}
md-list {
  background-color: #178417;
}
table {
  margin: 16px;
  width: calc(100% - 32px);
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}
table span {
  vertical-align: middle;
}
table i {
  vertical-align: middle;
}
