<md-sidenav-layout>
  <md-sidenav #start mode="side">
    <md-list>
      <md-list-item>
        <span>Start Sidenav.</span>
      </md-list-item>
      <md-list-item>
        <button md-raised-button color="primary" md-button (click)="start.close()">Close</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-sidenav #end align="end" mode="side">
    <md-list>
      <md-list-item>
        <span>End Sidenav.</span>
      </md-list-item>
      <md-list-item>
        <button md-raised-button color="primary" (click)="end.close()">Close</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <button md-raised-button color="primary" (click)="start.open()">Open Left</button>
  <button md-raised-button color="primary" (click)="end.open()">Open Right</button>

  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <colgroup>
      <col width="50%">
      <col width="25%">
      <col width="25%">
    </colgroup>
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric" (click)="toggle('a')">
          <span>Material</span>
          <i *ngIf="expands.a.more" class="material-icons">expand_more</i>
          <i *ngIf="expands.a.less" class="material-icons">expand_less</i>
        </th>
        <th class="mdl-data-table__cell--non-numeric" (click)="toggle('b')">
          <span>Quantity</span>
          <i *ngIf="expands.b.more" class="material-icons">expand_more</i>
          <i *ngIf="expands.b.less" class="material-icons">expand_less</i>
        </th>
        <th class="mdl-data-table__cell--non-numeric" (click)="toggle('c')">
          <span>Unit price</span>
          <i *ngIf="expands.c.more" class="material-icons">expand_more</i>
          <i *ngIf="expands.c.less" class="material-icons">expand_less</i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons md-36">folder</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">25</td>
        <td class="mdl-data-table__cell--non-numeric">$2.90</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons md-36">folder</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">50</td>
        <td class="mdl-data-table__cell--non-numeric">$1.25</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons md-36">insert_drive_file</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td class="mdl-data-table__cell--non-numeric">10</td>
        <td class="mdl-data-table__cell--non-numeric">$2.35</td>
      </tr>
    </tbody>
  </table>
</md-sidenav-layout>
