md-sidenav-layout {
  height: 100%;
}
md-sidenav-layout md-sidenav {
  width: 200px;
  background-color: lime;
}
md-sidenav-layout md-content {
  height: auto;
}
md-list {
  background-color: #178417;
}
#header-table {
  height: 48px;
  overflow: hidden;
}
#data-table {
  height: calc(100% - 86px);
  overflow-y: auto;
  overflow-x: hidden;
}
table {
  table-layout: fixed;
  width: 100%;
}
table tbody tr {
  height: 64px;
}
table span {
  vertical-align: middle;
}
table i {
  vertical-align: middle;
}
