<md-sidenav-layout>
  <md-sidenav #start mode="side">
    <md-list>
      <md-list-item>
        <span>Start Sidenav.</span>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="start.close()">Close</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-sidenav #end align="end" mode="side">
    <md-list>
      <md-list-item>
        <span>End Sidenav.</span>
      </md-list-item>
      <md-list-item>
        <button md-button (click)="end.close()">Close</button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  My regular content. This will be moved into the proper DOM at runtime.
  <button md-button (click)="start.open()">Open Left</button>
  <button md-button (click)="end.open()">Open Right</button>
  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Material</th>
        <th>Quantity</th>
        <th>Unit price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons">folder</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td>25</td>
        <td>$2.90</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons">folder</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td>50</td>
        <td>$1.25</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <i class="material-icons">folder</i>
          <span>Acrylic (Transparent)</span>
        </td>
        <td>10</td>
        <td>$2.35</td>
      </tr>
    </tbody>
  </table>
</md-sidenav-layout>
