<!DOCTYPE html>
<html>

<head>
  <!-- <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>"> -->

  <!-- for test -->
  <script>document.write('<base href="' + document.location + '" />');</script>

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
</head>

<body>
  <ng-app>Loading...</ng-app>
</body>

</html>
